<h1>todoList</h1>
<form action="/todo" method="post">
  <input type="text" name="title" />
  <input type="submit" />
</form>

<ul>
  <% for (let todo of todos) { %>
  <li><%= todo.title %></li>
  <% } %>
</ul>
