<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>test</title>
  </head>
  <body>
    <!-- 2 -->
    <%- include("../components/todo.ejs", todos) %>
  </body>
</html>
