<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>test</title>
  </head>
  <body>
    <input />
    <button>追加</button>
    <%- include("../components/user.ejs", users) %>
  </body>
</html>
